<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mystery.javautils.dao.UserMapper">

    <insert id="insertUser" parameterType="com.mystery.javautils.domain.User">
        insert into participant (name,role,hash) values (#{name},#{role},#{hash})
    </insert>

</mapper>
