#app{
    width: 1920px;
    height: 1080px;
}
.upload-demo{
    text-align: center;
}
.el-upload-dragger{
    padding-top: 10%;
    width: 720px;
    height: 360px;
}
.url-div{
    /*width: 720px;*/
    background-color: #fff;
    border: 1px dashed grey;
    border-radius: 6px;
    /*margin-left: 31.5%;*/
}
.url-li{
    list-style: none;
    margin: 5px;
    padding: 2px;
    border: 1px solid yellowgreen;
    border-radius: 6px;
}
.title-div{
    margin-left: 32%;
    margin-bottom: 10px;
}
.title-span{
    font-weight: 300;
    font-size: 2rem;
    text-shadow: -5px 5px 0 rgba(0, 0, 0, 0.1);
}
.notice-span{
    margin-top: 1rem;
    font-size: 0.8rem;
    color: #999;
}
